@for $i from 1 through 4 {
    .rounded-#{$i*4} {
        border-radius: #{$i * 4}px;
    }
    .rounded-top-#{$i*4} {
        border-radius: #{$i * 4}px #{$i * 4}px 0 0; 
    }
    .rounded-bottom-#{$i*4} {
        border-radius: 0 0 #{$i * 4}px #{$i * 4}px ; 
    }
    .rounded-left-#{$i*4} {
        border-radius: #{$i * 4}px 0 0 #{$i * 4}px ; 
    }
}

.rounded-circle {
    border-radius: 50%;
}
.rounded-brand {
    border-radius: 16px;
}


.border-dashed{
    border-style: dashed;
}